.sidecard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;            
}

.contentcard {
  display: flex; flex: 2;
  flex-direction: column;
  justify-content: flex-start;   /* start from top */
  align-items: flex-start;       /* align left */
  padding: 10px;
}

.about-container {
    display: flex;
    flex-direction: row;  
    height: 100vh;      
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: auto; 
  }
}

.sidecard h1
{
    font-family: Poppins; color: #eab308; font-size: clamp(2rem,3rem,3rem);
}

.contentcard h3
{
    color: #eab308;
    margin-bottom: 8px; font-family: poppins;
}
.contentcard p
{
    color: #d1d5db; font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}

.contentcard div { margin-bottom: 30px;}

/* group spacing */
.skill-group {
  margin-bottom: 20px;
}

/* category title */
.skill-group h4 {
  margin-bottom: 8px;
  font-weight: 600;
}

/* container */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* individual tag */
.skills span {
  padding: 6px 12px;
  border: 1px solid #eab308;
  border-radius: 20px;
  font-size: 16px; font-weight: 500;
  color: #eab308;

  transition: 0.3s ease;
}

.skills span:hover {
  background: #eab308;
  color: black;
  box-shadow: 0 0 10px #eab308;
}

@media (max-width: 768px) {
  .skills span {
    font-size: 12px;
    padding: 5px 10px;
  }
  .skills  {
    gap: 8px; 
    display: flex; flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 12px; font-weight: 500;
  }

}