/* ===== SECTION ===== */
.contact-section {
  padding: 50px 20px;
}

/* desktop full screen */
@media (min-width: 769px) {
  .contact-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* ===== TITLE ===== */
.contact-title {
  text-align: center;
  font-size: clamp(3rem, 4vw, 4rem);
  color: #eab308;
  font-family: Poppins;
  margin-bottom: 20px;
}

/* ===== CONTAINER ===== */
.contact-container {
  display: flex;
  justify-content: space-between;   /* spread both sides */
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

/* ===== LEFT ===== */
.contact-left {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.4rem;
  color: #ddd;
  transition: 0.2s;
}

.contact-row:hover {
  transform: translateX(6px);
}

.icon {
  width: 28px;
  height: 28px;
  fill: #eab308;
}

.link {
  color: #eab308; font-size: 1.5rem;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* ===== RIGHT (FORM) ===== */
.contact-right {
  flex: 1;
  width: 100%;              /* take full available space */
  max-width: 800px;         /* 🔥 increase this for width */
  
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 30px;
  margin-left: auto;        /* push it slightly right */

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(234, 179, 8, 0.2);
  border-radius: 12px;
}

.contact-right h3 {
  color: #eab308;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* inputs */
.contact-right input,
.contact-right textarea {
  background: transparent;
  border: 1px solid #8e7100;
  padding: 14px;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.contact-right textarea {
  min-height: 140px;
  resize: none;
}

/* focus */
.contact-right input:focus,
.contact-right textarea:focus {
  border: 1px solid #facc15;
  box-shadow: 0 0 12px rgba(234, 179, 8, 0.2);
}

/* button */
.contact-right button {
  border: 1px solid #eab308;
  color: #eab308;
  background: transparent;
  padding: 14px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-right button:hover {
  background: #eab308;
  color: black;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .contact-section {
    min-height: auto;
    padding: 50px 15px;
  }

  .contact-container {
    flex-direction: column;
    gap: 40px;
  }

  .contact-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }

  .contact-right {
    padding: 20px;
  }

  .contact-row {
    font-size: 1rem;
  }
}

.contact-right input,
.contact-right textarea,
.contact-right button {
  width: 100%; display: block;
}