.heroContent {
    text-align: left;  
    color: whitesmoke;
    padding: 10px; margin-top: 20px; padding-top: 60px;
}

.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px; padding: 0 20px;
  margin: 0 auto;
}

.heroPhoto {
  display: flex;
  justify-content: center;
  align-items: center; border: solid 1px #a1a1aa; height: 250px;
}

.heroContent,
.heroPhoto {
  width: 50%;
}

/* typography*/
.heroContent h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700; font-family: Poppins;
  line-height: 1.2; transition: all 0.3s ease;
}
.heroContent h1:hover
{
  transform: translateY(-5px);
  text-shadow: 
    0 0 10px rgba(212, 175, 55, 0.6),
    0 0 20px rgba(212, 175, 55, 0.4),
    0 0 40px rgba(212, 175, 55, 0.2);
}

.heroContent h2 {
  font-size: 3rem;
  color: #eab308;  /* gold*/
  margin-top: 10px;
}

.heroContent p {
  color: #a1a1aa;
  margin-bottom: 10px;
  font-size: 16px;
}
.heroContent .p2 { font-size: 30px; }
.heroContent span {font-weight: bold; color: #eab308;}

.button-hero
{
  border: solid #eab308 2px;
  border-radius: 3px; padding: 10px; min-width: 5rem;
  display: inline-block; margin-top: 5px; margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;   font-weight: bold; 
  text-decoration: none;
  background-color: #eab308;
  color: black;
}
.button-hero:hover
{
  transform: translateX(5px);
  box-shadow: 0 0 60px rgba(253, 194, 0, 0.811);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .heroContent h1 {
    font-size: 3rem;   
  }

  .heroContent,
  .heroPhoto {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .heroContent {
    text-align: center;
  }
}