/* ===== PROJECTS SECTION ===== */

.projects {
  padding: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; align-items: stretch;
  margin: 40px auto 0;
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
}

/* ===== TITLE ===== */

.p-title {
  font-size: clamp(2.5rem, 3rem, 3.5rem);
  color: #eab308;
  font-family: Poppins;
  text-align: center;
  display: block;
}

.projects h2 {
  font-size: clamp(1rem, 1.5rem, 1.5rem);
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

/* ===== CARD ===== */

.project-card {
  max-width: 400px;
  min-height: 420px;   /* 🔥 use min-height instead of height */
  margin: 0 auto; height: 100%;

  border: 1px solid #8e7100;
  padding: 20px;
  padding-top: 0px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  transition: all 0.3s ease;
}
.project-card:hover {
  border: solid #facc15 1px;
  transform: translateY(-5px);
  box-shadow: 0 0 35px rgba(234, 179, 8, 0.2);
}

/* ===== IMAGE ===== */

.project-card img {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 180px;    
  object-fit: cover;  
}

/* ===== TITLE TEXT ===== */

.project-card h3 {
  color: #eab308;
  margin-bottom: 10px;
}

/* ===== TECH STACK ===== */

.project-card h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ddd;
}

/* ===== DESCRIPTION (SCROLL FIX) ===== */

.desc {
  flex-grow: 1;          /* fills available space */
  overflow-y: auto;
}

/* description text */
.desc p {
  color: #9ca3af;
  margin: 0; 
}

/* scrollbar styling */
.desc::-webkit-scrollbar {
  width: 4px;
}

.desc::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 10px;
}

/* ===== LINK BUTTON ===== */

.project-card a {
  text-decoration: none;
  color: #eab308;

  margin-top: 20px;     /* 🔥 pushes to bottom */
  align-self: center;   /* 🔥 center align */
}

.project-card a:hover {
  color: #facc15;
}

/* ===== MOBILE RESPONSIVE ===== */

@media (max-width: 768px) {

  .projects-container {
    grid-template-columns: 1fr; /* single column */
  }

  .project-card {
    height: auto; /* remove fixed height */
  }

  .desc {
    max-height: none;   /* no scroll */
    overflow: visible;
  }
  .project-card a
  {
    background-color: #eab308;
    color: black;
  }

}