/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* App wrapper */
.app {
  width: 100%;
}

/* Sections */
section {
  padding: 80px 20px;
}

main {
  padding-top: 80px;
}

.button-common
{
  border: solid #eab308 2px;
  border-radius: 3px; padding: 10px;
  display: inline-block; margin-top: 5px; margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;   font-weight: bold;
  text-decoration: none;
  color: #d4af37;
}

.button-common:visited {
  color: #d4af37;
}

.button-common:hover
{
  background-color: #d4af37;
  color: black;
}